<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>gwtgadget</display-name>

    <context-param>
    <!-- max size of the upload request -->
        <param-name>maxSize</param-name>
        <param-value>3145728</param-value>
    </context-param>
    <context-param>
    <!-- Useful in development mode to slow down the uploads in fast networks.
         Put the number of milliseconds to sleep in each block received in the server.
         false or 0, means don't use slow uploads  -->
        <param-name>slowUploads</param-name>
        <param-value>200</param-value>
    </context-param>

    <!-- GateIn service servlet -->
    <servlet>
        <servlet-name>gtnService</servlet-name>
        <servlet-class>org.gatein.management.server.GateInServiceImpl</servlet-class>
    </servlet>
    <!-- file upload servlet-->
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>org.gatein.management.server.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadServlet</servlet-name>
        <servlet-class>org.gatein.management.server.FileDownloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>gtnService</servlet-name>
        <url-pattern>/gwtgadget/gtnService</url-pattern>
    </servlet-mapping>
    <!-- the servlet mapping for the upload servlet-->
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <!--url-pattern>*.gupld</url-pattern-->
        <url-pattern>/gwtgadget/upload</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>downloadServlet</servlet-name>
        <url-pattern>/gwtgadget/download</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <!-- Need to use the same realm as the portal and must run in the same server -->
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>gatein-domain</realm-name>
    </login-config>

</web-app>
